:hover .click {
    font: italic;
    
}

.outerDiv {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card-header{
    padding-top: 6px;
    padding-bottom: 6px;
}

.verticalCenter{
    align-self: center;
}
.horizontalCenter{
    text-align: center;
}

.totalCenter{
    text-align: center;
    align-self: center;
}